@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);



#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#ext_menu-0 .mbr-navbar__items a {
  font-size: 14px;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header1-1 P {
  text-align: left;
  color: #ffffff;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}
#header1-1 H1 {
  text-align: center;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#slider-3 P {
  text-align: left;
  color: #000000;
  font-size: 14px;
}
#slider-3 H1 {
  color: #000000;
  text-align: left;
  font-family: 'Titillium Web', sans-serif;
  font-size: 24px;
}
#contacts3-10 P {
  color: #ffffff;
  font-size: 14px;
}


#header3-15 H3 {
  text-align: center;
  font-family: 'Droid Serif', serif;
  font-size: 30px;
}
#header3-15 P {
  text-align: center;
}
#content1-16 H3 {
  font-family: 'Roboto Slab', serif;
}
